.uagb-faq-child__outer-wrap .uagb-faq-questions-button {

    cursor: pointer;
    display: block;
    padding: 15px;
    width: 100%;
    .uagb-faq-icon-wrap {

        display: inline-block;
        vertical-align: middle;
    }
    .uagb-question {
        width: 100%;
    }
}
[data-type="uagb/faq-child"] .uagb-faq-child__outer-wrap .uagb-content p {
    margin: 0;
}
[data-type="uagb/faq-child"] .uagb-faq-child__outer-wrap .uagb-faq-item .uagb-content {
    display: none;
}
[data-type="uagb/faq-child"] .uagb-faq-child__outer-wrap .uagb-faq-item .uagb-icon-active {
    display: none;
}
[data-type="uagb/faq-child"] .uagb-faq-child__outer-wrap .uagb-faq-item.uagb-faq-item-active .uagb-icon {
    display: none;
}
[data-type="uagb/faq-child"] .uagb-faq-child__outer-wrap .uagb-faq-item .uagb-icon {
    display: inline-block;
}
[data-type="uagb/faq-child"] .uagb-faq-child__outer-wrap .uagb-faq-item.uagb-faq-item-active .uagb-icon-active {
    display: block;
}