.uagb-buttons__wrap .uagb-button__wrapper .uagb-buttons-repeater a.uagb-button__link {

    display: inline-block;
}

span.uagb-mb-button-icon.uagb-ifb-align-icon-after {
    float: right;
}

.uagb-buttons-repeater {
    display: inline-flex;
    cursor: pointer;
}

.uagb-mb-button-icon {
    height: 15px;
    width: 15px;
}